.btn-add {
    @apply w-40 p-2 border-2 rounded text-teal-500 border-teal-500
}

.btn-add:hover {
    @apply w-40 text-white bg-teal-500
}

.btn-done {
    @apply w-40 p-2 ml-4 mr-2 border-2 rounded text-green-500 border-green-500
}

.btn-done:hover {
    @apply w-40 text-white bg-green-500
}

.btn-not-done {
    @apply w-40 p-2 ml-4 mr-2 border-2 rounded text-yellow-500 border-yellow-500
}

.btn-not-done:hover {
    @apply w-40 text-white bg-yellow-500
}

.btn-remove {
    @apply w-40 p-2 ml-2 border-2 rounded text-red-500 border-red-500
}

.btn-remove {
    @apply w-40 text-white bg-red-500
}