<div class="self-center h-100 w-full flex items-center justify-center font-sans">
    <div class="section-main">
        <div class="header-title mb-12"><%= @list_name %></div>
        <TodoClientWeb.TodosLive.Components.input id="todo-input" />
        <%= if @todos do %>
        <TodoClientWeb.TodosLive.Components.list id="todo-list" todos={@todos} />
        <% else%>
        <h3>Make your first todo.</h3>
        <% end %>
    </div>
</div>